$font-family-poppins: "Poppins", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-style: normal;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  