*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 15px;
}
.header__container{
    display: flex;
    justify-content: left;
    align-items: center;
}
.header__container--imagen{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    height: 5vh;
}
.header__container--titulo1{
    padding-left: 15px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.linea{
    border: 1px solid #292C33;
}
.nov__izquierda--titulo2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
}
.nov__izquierda--img{
    font-size: 22px;
    height: 40vh;
    width: 36vw;
    border-radius: 15px;
}
.nov__izquierda--adl{
    height: 5vh;
    width: 3vw;
    border-radius: 60%;
    display: inline-flex;
    text-align: left; 
}
.nov__izquierda--title{
    text-align: left;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: bold;
}
.nov__izquierda--p{
    font-size: 20px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
}
.nov__izquierda--span{
    color: #000000;
    text-align: left;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.nov__derecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.nov__derecha--img{
    height: 15vh;
    width: 11vw;
    border-radius: 5px;
    grid-column: 1;
}
.nov__derecha--titulo3{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nov__derecha--p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.nov__derecha--adl1{
    height: 3vh;
    width:2vw;
    border-radius: 50%;
    display: inline-flex;
    text-align: left;
}
.nov__derecha--span{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.pop__cat--titulos{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
}
.pop__cat--img{
    height: 20vh;
    width: 20vw;
    border-radius: 15px;
}
.pop__cat--titulos4{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pop__cat--p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.pop__cat--adl1{
    height: 5vh;
    width: 3vw;
    border-radius: 60%;
    display: inline-flex;
    text-align: left; 
}
.pop__cat--span{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.cat__pop--opciones{
    width: 20vw;
    border-radius: 8px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cat__pop--logos{
    height: 8vh;
}
.cat__pop--text{
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.color1{
    background-color: #E93E30;
}
.color2{
    background-color: #F7E018;
}
.color3{
    background-color: #299ED5;
}
.color4{
    background-color: #292C33;
}
.color5{
    background-color: #67C770;
}
.color6{
    background-color:#563D7C;
}
.cte{
    width:  20vw;
    text-align: justify;
    font-size: 18px;
}
.cte__titulo{
    font-size:20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer{
    padding: 20px;
}
.footer__opciones{
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer__opciones--imagen{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    height: 5vh;
    width: 3vw;
}
.footer__opciones--titulo{
    padding-left: 15px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.footer__opciones--span{
    padding-left: 67%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
