$color1: #437856;
$color2: rgb(201, 201, 201);
$color3: #b0aaa5;
$color4:#63af2b;
$color5:#000000;
$color6:#fff;
$colorHtml:  #E93E30;
$colorJs: #F7E018;
$colorCss:#299ED5;
 $colorReact:#292C33;
 $colorVue:#67C770;
 $colorBoot:#563D7C;