.logo{
    width: 40px;
    height: 40px;
    border-radius: 14%;
}

.lineaAcoplado{
    width: 100%;
    // margin-top: 50px;
}

.logoAspecto{
    border-radius: 50px;
}
.logo__Aspecto--2{
    height: 3vh;
    width: 1.5vw;
    border-radius: 150px;
}

.imgBootstrap{
    width: 36vw;
    height: 16vw;
    border-radius: 10px;
}

.imagenFin{
    width: 15vw;
    height: 11vw;
}

.logo__google{
    width: 2vw;
}  
.nov__imagenes{
    height: 12vh;
    width: 10vw;
}
