.boton1{
    background-color: $color4;
    color: white;
}
.btn1{
    text-decoration: none;
    color: #fff;
}
.btn2{
    text-decoration: none;
    color: #000;
}

.boton2{
    background-color: white;
    color: black;    
}

.sombreado{
    background-color: $color3;
    border-radius: 15px;
}